{{define "filter"}}

<div class="wrapper-filter">
    <h4>filter by:</h4>
    <form action="/" method="POST">
        <label>Date:</label>
        <select name="date">
            <option value=""> </option>
            <option value="desc">new</option>
            <option value="asc">old</option>

        </select>
        <label>Likes:</label>
        <select name="likes">
            <option value=""> </option>
            <option value="big"> > Likes</option>
            <option value="letter">  > Dislike</option>
        </select>
        <label>Categories:</label>
        <select name="cats">
            <option value=""> </option>
            <option value="1">school</option>
            <option value="2">people</option>
            <option value="3">events</option>
            <option value="4">Q&A</option>
            <option value="5">sapid</option>
        </select>
        <input type="submit" value="go">
        {{end}}