{{define "index"}}
<div class="main">
    {{template "search"}} {{template "filter" }} {{ range $key, $value := . }}
    <div class=" wrapper-main">
        <form method="POST" action="{{ $value.EndpointPost}}/{{$value.ID}}">
            <input type="hidden" name="pstID" value="{{ $value.ID }}" />
            <input type="hidden" name="end" value="{{ $value.EndpointPost}}">
        </form>
        <h3>{{ $value.Title }}</h3>
        <p class="content-main"> {{ $value.Content}} .... </p>
        <span id="time"> {{$value.CreatedTime}}  </span>
        <span>{{$value.CountLike}} &#9829</span>
        <br>
        <span>{{$value.CountDislike}} &#8722</span>
        <a class="links" href="/post?id={{$value.ID}}">read..</a>

    </div>
    {{end}}
</div>
<script>
    const formatTime = (d) => {
        document.getElementById('time').innerText = d.slice(0, 10) + " " + d.slice(11, 16)
    }
    formatTime()
</script>
{{template "footer" }} {{end}}