{{define "profile"}}

<br>
<div class="profile-wrapper">
    <div class="profile-info">
        <h3>Hello {{.FullName}}</h3>

        {{if .SVG}}
		<img alt=" " width="500px" src="data:image/svg+xml;base64, {{.ImageHtml}} ">
		{{else}}
		<img class="post-img" src="data:image/jpeg;base64, {{.ImageHtml}}" alt=" ">
		{{end}}
        <br>

        <label for="">Name:</label>
        <td> {{.FullName}}</td> <br>
        <label for="">Email:</label>
        <td> {{.Email}}</td> <br>
        <label for="">Age:</label>
        <td>{{.Age}} </td> <br>
        <label for="">Sex:</label>
        <td> {{.Sex}}</td> <br>
        <label for=""> On site with:</label>
        <td> {{.CreatedTime}} </td> <br>
        <label for="">From:</label>
        <td> {{.City}}</td>
        <br>

    </div>
    
    <br>
    <a class="link-profile" href="/edit/user?uid={{.ID}}">Edit profile</a>
    <a class="link-profile" href="/create/post" class="create-btn">Create post</a>
    
</div>
<br>
{{end}}

{{template "footer"}}