{{define "updateuser"}}
<div class="wrapper-main-edit">
    <form action="/edit/user" method="POST" enctype="multipart/form-data" autocomplete="off">
        <input type="text" name="fullname" placeholder="fuul name"> <br />

        <input type="number" name="age" placeholder="age"><br />

        <select name="sex" id="">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

        <select name="city" id="">
            <option value="Almaty">Almaty</option>
            <option value="Astana">Astana</option>
            <option value="Karaganda">Karaganda</option>
            <option value="Shymkent">Shymkent</option>
            <option value="Aktau">Aktau</option>
            <option value="Atyrau">Atyrau</option>
            <option value="Taraz">Taraz</option>
            <option value="Kokshetau">Kokshetau</option>
            <option value="Semey">Semey</option>
            <option value="Uralsk">Uralsk</option>
            <option value="Pavlodar">Pavlodar</option>
            <option value="Petropavlsk">Petropavlsk</option>
            <option value="Kyzyldorda">Kyzyldorda</option>
            <option value="Ustakemenogorsk">Ustakemenogorsk</option>
        </select><br />


        <input type="file" name="uploadfile" />
        <input type="submit" value="send">
    </form>
</div>
{{end}}