{{define "category_post_template"}}

<div class="main">
    {{template "search"}} {{ range $key, $value := . }}
 <a class="links" href="/post?id={{$value.ID}}">
    <div class="wrapper-main">
        <form method="POST" action="{{ $value.Endpoint}}/{{$value.ID}}">
            <input type="hidden" name="pstID" value="{{ $value.ID }}" />
            <input type="hidden" name="end" value="{{ $value.Endpoint}}" />
        </form>
        <h3>{{ $value.Title }}</h3>
        <p class="content-main"> {{ $value.Content}}...</p>
        Created: {{ $value.Time}} 
        <div class="likes-card"> 
        <span class = "fa fa-thumbs-up" > {{$value.Like}} </span>
        <span class = "fa fa-thumbs-down">{{$value.Dislike}} </span>
    </div>
    </div>
</a>
    {{end}}

</div>
{{template "footer" }} {{end}}

<script src="../statics/js/app.js">
</script>