{{define "filter_post"}}

<div class="wrapper-filter">
    <form action="/" method="POST">
        <label>Date:   
        <select name="date">
            <option value=""> </option>
            <option value="desc">DESC</option>
            <option value="asc">ASC</option>
        </select>
        </label>
        <label>Likes:   
        <select name="likes">
            <option value=""> </option>
            <option value="like"> Likes:</option>
            <option value="dislike"> Dislike:</option>
        </select>
</label>
        <label>Category:
        <select name="cats">
            <option value=""> </option>
            <option value="1">science</option>
            <option value="2">love</option>
            <option value="3">sapid</option>
        </select>
</label>
        <input type="submit" value="go"> 
        </form>
        </div>
        {{end}}