{{define "filter_post"}}

<div class="wrapper-filter">
    <form action="/" method="POST">
        <label>Date:</label>
        <select name="date">
            <option value=""> </option>
            <option value="desc">DESC</option>
            <option value="asc">ASC</option>

        </select>
        <label>Likes:</label>
        <select name="likes">
            <option value=""> </option>
            <option value="like"> Likes:</option>
            <option value="dislike"> Dislike:</option>
        </select>

        <label>Categories:</label>
        <select name="cats">
            <option value=""> </option>
            <option value="love">love</option>
            <option value="sapid">sapid</option>
            <option value="science">science</option>
            
        </select>

        <input type="submit" value="go"> 
        
        </form>
        </div>
        {{end}}