{{define "posts"}}

<div class="post-wrapper">

    <h2> {{.Title}}</h2>
    <div class="post-img-wrapper">
        {{if .SVG}}
        <img width="240px" height="220px" alt=" " src="data:image/svg+xml;base64, {{.ImageHTML}} "> {{else}}
        <img width="240px" height="220px" class="post-img" src="data:image/jpeg;base64, {{.ImageHTML}}" alt=" "> {{end}}
    </div>

    <p class="post-content"> {{.Content}} </p>

    <span id="time" class="time-post"> {{.Time}} </span>
  
  
    <div class="like-wrapper">

        <form  action="/votes?id={{.ID}}" method="POST">
            <input type="hidden" name="like" value="1">
                  <span class = "fa fa-thumbs-up vote-up" > </span> 
            <input type="submit" value="     ">
        </form>
        <span class="like"> {{.Like}}</span>
        
        <form  action="/votes?id={{.ID}}" method="POST">
            <input type="hidden" name="dislike" value="1">
                  <span class = "fa fa-thumbs-down vote-down" > </span> 
            <input  type="submit" value="     ">
        </form>

        <span class="dislike"> {{.Dislike}}</span>

</div>

      <div class="author-wrapper">
        <form action="/user/id/?{{.CreatorID}}" method="post" class="author-post">
            <input type="hidden" name="uid" value="{{.CreatorID}}">
            <input type="submit" value="{{.FullName}}">
        </form>
    </div>
</div>

<div class="comment-wrapper">
    <form action="/comment" method="POST">
        <textarea placeholder="lost your comment.." name="comment-text" id="textareaId" cols="164" rows="5" required></textarea>
        <input type="hidden" name="curr" value="{{.ID}}">
    </form>
</div>
</body>

<script> 

(function() {
  document.querySelector('textarea').addEventListener('keydown', function(e) {
    if (e.keyCode === 13 && !e.shiftKey) {
 this.closest("form").submit();
        e.preventDefault();
      console.log(this.value);
    }
  });
})();
</script>
{{end}} 
