{{define "profile"}}
<div class="profile-wrapper">

  <div class="profile-info">

    <h3>Welcome {{.FullName}}</h3>
    {{if .SVG}}
    <div> <img alt=" " src="data:image/svg+xml;base64, {{.ImageHTML}} " /></div> {{else}}
    <div><img src="data:image/jpeg;base64, {{.ImageHTML}}" alt=" " /></div>
    {{end}}

    <div class="user-info">
      <label for="">Name:
        <td> {{.FullName}}</td>
      </label>
      <label for="">Nickname:
        <td> {{.Username}}</td>
      </label>
      <label for="">Email:
        <td> {{.Email}}</td>
      </label>
      <label for="">Age:
        <td>{{.Age}} </td>
      </label>
      <label for="">Sex:
        <td> {{.Sex}}</td>
      </label>
      <label for=""> On site with:
        <td> {{.Temp}} </td>
      </label>
      <label for="">From:
        <td> {{.City}}</td>
      </label>
      <label for=""> Last seen:
        <td> {{.LastSeen}}</td>
      </label>
    </div>

    <div class="profile-link-container">
      <a class="link-profile edit-btn" href="/edit/user?uid={{.ID}}">Edit profile</a>
      <a class="link-profile delete-btn" onclick="areYouSure({{.ID}} )">Delete account</a>
      <a class="link-profile activity-btn" href="/activity">Activities </a>
    </div>
  </div>

  <!-- <a id="create_post" class="link-profile create-btn" href="/create/post">Create
    post</a> -->
</div>
<script>
  const areYouSure = (id) => {
    if (confirm("Are u sure epta?")) {
      fetch('https://forumx.herokuapp.com/delete/account', {
        mode: 'cors',
        method: 'post',
        body: id,
      })
        .then((response) => {
          if (response.ok) {
            window.location.replace("https://forumx.herokuapp.com/")
          }
        })
    } else {
      console.log("You pressed Cancel!");
    }
  }
</script>
{{end}}