{{define "signin"}} {{template "header"}}

<div class="signin-wrapper" id="signin-wrapper">

    <div class="signin-container">
        <h3 class="signin-label">Login system</h3>
        <form onsubmit="event.preventDefault()">
            <input id="name" type="text" name="email" placeholder="email or username" required>
            <input id="password" type="password" name="password" placeholder="password" required>
            <input onclick="defAuthSendData()" type="submit" value="Login">
        </form>
        <div class="google-signin"> <a href="/googleSignin"> Google Sign in </a> </div>
        <div class="github-signin"> <a href="/githubSignin"> Github Sign in </a></div>
    </div>

    <span id="notify"> {{ if . }} {{.}} {{end}} </span>

</div>

{{template "footer"}}
<script>
    let user = {
        name: '',
        email: '',
        username: '',
        password1: '',
        type: ''
    };

    const showNotify = (msg) => {
        if (msg != "success") {
            console.log(msg, "msg")
            let ns = document.getElementById('notify')
            ns.innerText = msg
        } else {
            welcomeSound()
            //sound & confetti
            window.location.replace("https://forumx.herokuapp.com/profile")
        }
    }

    const welcomeSound = () => {
        var audio = new Audio('./rihanna.mp3');
        audio.play();
    }

    function defAuthSendData() {
        // let email = document.getElementById("email").value;
        let name = document.getElementById("name").value;
        let password = document.getElementById("password").value;
        let s = name.split("@")
        let email = ""
        let username = ""
        console.log(s, "split user")
        if (s.length > 1) {
            email = name
        } else {
            username = name
        }
        user.email = email,
            user.password1 = password,
            user.username = username,
            user.type = "default"
        console.log(user, "u data")
        if (user.email != '' && user.password1 != '' || user.username && user.password1) {
            //async fetch query
            async function getUserAsync() {
                let response = await fetch('https://forumx.herokuapp.com/signin', {
                    method: 'post',
                    body: JSON.stringify(user),
                });
                let data = await response.json()
                return data;
            }
            getUserAsync()
                .then(data => showNotify(data));
        }
    }
</script>
{{end}}