{{define "update_post"}}

<div class="wrapp">
    
    <h2>Edit post </h2>

    <form method="POST" action="/edit/post" class="wrapper-create" enctype="multipart/form-data" autocomplete="off">

        <input type="hidden" name="id" value="{{ .ID }}" />
        <input type="text" name="title" placeholder="title" value={{.Title}} />
        <img width="300px" height="320px" class="post-img" src="data:image/jpeg;base64, {{.ImageHTML}}" alt="image">
        <label for="cars">Content: </label>
        <textarea name="content" id="" cols="30" rows="10" value={{.Content}}> {{.Content}}</textarea>

        <label for="cars">Categories: </label>

        <label for="loveId">love
            <input id="loveId" type="checkbox" value="love" name="input" />
        </label>
        <label for="scienceId">science
            <input id="scienceId" type="checkbox" value="science" name="input" />
        </label>
        <label for="sapidId">sapid
            <input id="sapidId" type="checkbox" value="sapid" name="input" />
        </label>

        <input type="file" name="uploadfile" accept="image/*" />
        <input type="submit" value="edit" />
    </form>
</div>

{{end}}